.navbar-lewagon {
  justify-content: space-between;
  background: #F7F4F3;
  text-decoration: none;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 16px;
}

.font-logo {
  margin-bottom: 0px;
}

.font-logo:hover {
  color: #354646;
}

.navbar-brand {
  color: #2D3A3A;
}
