.navbar-lewagon {
  justify-content: space-between;
  background: whitesmoke;
  text-decoration: none;
  margin-bottom: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 16px;
}

.font-logo {
  margin-bottom: 0px;
}

.font-logo:hover {
  color: black;
}
