// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
// @import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  // color: white;
}

// a:hover {
//   color: whitesmoke;
// }

body {
  background-color: #F7F4F3;
}

h1, h2, h3, h4, p {
  color: #2D3A3A;
}

.zoomage {
  transition: transform .4s ease;
  }

.zoomage:hover {
transform: scale(1.04);
}

.mapboxgl-popup-content{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: #F7F4F3;
}

.card-info-window > a {
  color: #f7f4f3;
  text-decoration: none;
}
